*{ 
    margin: 0; 
}
html{ 
    height: 100vh;
    background-color: rgb(28, 30, 33);
}

.nav-buttons{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(80, 82, 87);
    background-color: #282828;
    height: 25pt;
}

.nav-links{ 
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(176, 179, 184);
    height: 2em;
    width: 3em;
    border-radius: 8%;
}

a{ 
    text-decoration: none;
    color: black;
}

.profile-form{ 
    margin: 5pt;
    display: inline-block; 
    border: 1px solid black;
    align-items: center;
    width: 10rem; 
    height: 20vh; 
    border-radius: 10%;
}
.profile{ 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{ 
    font-size: 15pt;
    display: block;
    margin: 10pt; 
    border: 1px solid black;
    border-radius: 4pt;
}

button{ 
    color: rgb(176, 179, 184);
    background-color: #4A4A4A;
    margin: 5px;
    font-size: 15pt;
    height: 2rem;
    border-radius: 4pt;
    border: none;
    
}

button:hover{ 
    color: lightskyblue;
    border: 1px solid rgba(0, 0, 0, 0);
}
.auth{ 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.auth-form{ 
    margin-top: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 1pt 1pt 1pt 1pt black; */
    width: 400pt;
    height: 400pt;
    /* border: 1pt solid black; */
    border-radius: 4pt;
    background-color: #282828;
    text-align: center;

}

p{ 
    margin:5pt;
    text-align: center;
    color: rgb(176, 179, 184)
}

.posts { 
    margin: 10px;
    width: 300px; 
    height: auto;
    /* border: 1px solid black; */
    border-radius: 3px;
    background-color: #282828;
    color: rgb(176, 179, 184)
}

.comments{ 
    display: block;
}

h4{ 
    margin: 10px;
    font-size: 20pt;
    border: 1px solid black;
}

textarea{ 
    display: flex; 
    align-items: center;
    justify-content: center;
    border: none;
    color: rgb(176, 179, 184);
    background-color: #3a3b3c;
    border-radius: 7px;
    height: 100pt;  
    max-width: 180pt;
    min-width: 180pt;
    max-height: 100pt;
    min-height: 100pt;
    resize: none;
}
.post-title{ 
    width: 80%
}

.title-text{ 
    margin: 5pt;
    color: rgb(176, 179, 184)
}

.login-container{ 
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.new-post-form{ 
    margin-top: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 1pt 1pt 1pt 1pt black; */
    width: 300px;
    height: 200pt;
    /* border: 1pt solid black; */
    border-radius: 4pt;
    background-color: #282828;
    text-align: center;
}

input{ 
    border: none;
    color: rgb(176, 179, 184);
    background-color: #3a3b3c;
    background: #3a3b3c ;
}

.nav-links:hover{ 
    color: rgb(17, 132, 204);
    background-color: #3a3b3c ;;
}
@media only screen and (max-width: 600px) {
    * {
      overflow-x: hidden;
    }
  }